.user-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 550px;
  min-width: 320px;
  min-height: 400px;
  background-color: $primary;

  &:focus {
    outline: none;
  }
}

.user-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: $light-dark, $alpha: 0.6);
}

.add-user {
  height: 95px;
  background-color: $light-dark;
}

.add-user__row {
  justify-content: flex-end;
  align-items: center;
  height: 95px;
}

.user-buttons {
  margin-top: 30px;
}

.user-button {
  position: relative;
  max-width: 200px;
  margin-right: 15px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  color: $light;
  border-radius: 5px;
  box-shadow: 1px 1px 7px #0000008a;
  transition: all 0.3s;
}

.user-button--add, .user-button--remove {
  background-color: $active;
  padding-left: 25px;

  &:hover {
    background-color: darken($color: $active, $amount: 3%);
  }

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 25px;
    font-weight: 300;
    color: $light;
  }
}

.user-button--add {
  &:before {
    content: '+'
  }
}

.user-button--remove {
  &:before {
    content: '-'
  }
}

.user-button--edit {
  margin-right: 20px;
  color: $text-dark;
  background-color: $light-dark;

  &:hover, &:focus, &:active {
    color: $active;
    background-color: $light;
  }
}


.user {
  background-color: $light;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.user__row {
  flex-direction: column;
  text-align: left;
}

.user__firstName,
.user__lastName,
.user__about {
  margin-top: 20px;
} 

.user__about p {
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
}