/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

//firefox
input:required, textarea:required {
  box-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-light;
  background-color: $light-dark;
}

/* container and row classes for responsive grid */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media (max-width: $xs) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: $sm) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $md) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: $lg) {
  .container {
    max-width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}


