/* text colors */
$text-light: #9dafb8;
$text-dark: #101010;


/* colors */
$primary: #2b3245;
$light: #ffffff;
$active: #fe4873;
$light-dark: #ecf1f5;

/* responsive grid breakpoints*/
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;