.card {
  min-height: 350px;
  width: 320px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: $light;
  cursor: pointer;

  &:hover {
    border: 1px solid $primary;
  }
}

.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin: 60px auto;
  border-radius: 50%;
  background-color: $light-dark;

  svg {
    width: 30px;
    height: 30px;
  }
}

.card__url {
  margin-top: 20px;
}

.card__description {
  margin-top: 20px;
}




