.user-list {
  list-style: none;
}

.user-list__item {
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  cursor: pointer;

  &:hover {
    color: $active;
  }
}

.user-list__item--active {
  position: relative;
  background-color: $light-dark;

  &:hover {
    color: $text-light;
  }

  &:before {
    position: absolute;
    content: url("../icons/checked.svg");
    display: block;
    top: 4px;
    right: 25px;
    width: 25px;
    height: 25px;
  }
}
