.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  background-color: $light;
  margin-top: 50px;
}

.loader__image {
  height: 60px;
  width: 60px;
}