
.user-form {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.user-form__label {
  display: block;
  margin-top: 15px;
  text-align: left;
  color: $light;
}

.user-form__field {
  width: 100%;
  margin-top: 5px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.user-form__button {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $light-dark;
  color: $text-dark;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover, &:focus, &:active {
    color: $active;
    background-color: $light;
  }
}