.cards__row {
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: center;
  //align cards in last row
  &:after {
    content: '';
    display: block;
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
  }
}