.login-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
}


.login-form__label {
  display: block;
  max-width: 300px;
  margin-top: 15px;
  text-align: left;
}

.login-form__field {
  width: 100%;
  margin-top: 5px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.login-form__button {
  display: block;
  max-width: 200px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  color: $light;
  box-shadow: 1px 1px 7px #0000008a;
  background-color: $active;
  transition: all 0.3s;

  &:hover {
    background-color: darken($color: $active, $amount: 3%);
  }
  &:hover, &:focus, &:active {
    color: $active;
    background-color: $light;
  }
}