.card-page__row {
  justify-content: center;
}

.card-page__list {
  width: 100%;
  max-width: 800px;
  min-height: 60vh;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  list-style: none;
  background-color: $light;
}

.req-item {
  margin-top: 40px;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
}

.req-item__title {
  font-weight: bold;
  margin-bottom: 7px;
}