@keyframes expand {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes expandY {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.header-top {
  min-height: 70px;
  background-color: $primary;
}

.nav-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-top__logo {
  margin-left: 20px;
  height: 45px;
  width: 45px;
  fill: $light-dark;
  cursor: pointer;

  &:hover {
    fill: $light;
  }
}

.nav-top__list {
  min-height: 70px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-top__item {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-top__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  color: $primary;
  margin-left: 10px;
  border-radius: 50%;
  text-transform: uppercase;
}

.nav-top__icon {
  position: relative;

  &:hover {
    .user-list__wrap {
      transform: scaleY(1);
      animation: expandY 0.3s ease-in-out forwards;
    }
  }
}

.user-list__wrap {
  position: absolute;
  z-index: 10;
  top: 72px;
  left: -143px;
  min-height: 350px;
  width: 320px;
  background-color: $light;
  transform: scaleY(0);
  border: 1px solid rgba($color: $primary, $alpha: 0.6);

  &:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    bottom: 100%;
    right: 140px;
    border-width: 6px;
    margin: 0 -6px;
    border-bottom-color: $light;
  }
}

.icon-users {
  width: 70px;
  padding: 5px 20px;
  height: 70px;
  fill: $light-dark;
  cursor: pointer;

  &:hover {
    fill: $light;
  }
}

.icon-logout {
  width: 25px;
  height: 25px;
  fill: $light-dark;
  cursor: pointer;

  &:hover {
    fill: $light;
  }
}

.header-low {
  background-color: $light;
}

.nav-low {
  min-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-low__list {
  min-height: 60px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-low__link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 30px;
  margin-left: 10px;
  font-size: 16px;
  color: $text-light;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    color: $active;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    background-color: $active;
    bottom: 0;
    left: 0;
  }
}

.nav-low__link--active {
  color: $active;
  &:after {
    transform: scaleX(1);
    animation: expand 0.3s ease-in-out forwards;
  }
}
